.pageContainer{
  background-image: linear-gradient(120deg, #0f130f3e 25%, #00519e6c 100%); ;
}
.pageContainer canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  background-color: #00000000;

}
.heroSection{
    display: flex;
    justify-content: top;
    flex-direction: column;
    align-items: center;
    padding-top:15vh;
    height: 85vh;
    color: #c1c1c1;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.5;
}
.heroHeadingTextContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    width:65%;
    min-width: 300px;
    margin-bottom: -2vh;
}
.heroHeadingTextContainer div{
  font-size: calc(5rem + 2.5vw);
  margin: 0 1vw;
  margin-bottom: -2vh;
}
.heroTextColor{
  background-image: linear-gradient(120deg, #0fdf32 15%, #1992f5 100%);
  background-clip: text;
  color: #00000000;
}
.heroSubText {
  font-size: calc(2rem + 1.5vw);
  font-weight: 100;
  letter-spacing: 0.3vw;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 1px;
  color: #a5a5a5;
  margin-top: 4vh;
  margin-bottom: 6vh;
}
.heroAccentText{
  height: 200px;
  /* padding: 20px; */
  overflow: hidden;
  display: flex;
  flex-shrink: 10;
  flex-direction: column;
  justify-content: top;
  background-image: linear-gradient(120deg, #0fc3df 15%, #19f55b 100%);
  background-clip: text;
}
.heroAccentText span {
  animation: rotateWords 6s infinite;
  display: block;
  padding:0;
  /* transform: translateY(-300%) */
}
.designerText{
  font-family: "Bodoni Moda", serif;
  font-style: none;
  letter-spacing: 0.6rem;
  font-size: calc(2rem + 4vw);
}
.developerText{
  font-family: monospace;
  text-transform: lowercase;
  font-weight: 200;
  font-size: calc(2rem + 4vw);
  font-style: monospace;
}
.creativeText{
  font-family: "Rock Salt", cursive;
  font-size: calc(2rem + 4vw);
  font-style: italic;
  letter-spacing: 0.6rem;
  color: #00000000;

}
.heroCTA {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6vh;

}
@keyframes rotateWords {
  0% { transform: translateY(0); }
  25% { transform: translateY(-112%); }
  33% { transform: translateY(-100%); }
  58% { transform: translateY(-212%); }
  66% { transform: translateY(-200%); }
  91% { transform: translateY(-312%); }
  100% { transform: translateY(-300%); }
}